.BooksPage {
  background: url('https://afmsmgripo.cloudimg.io/v7/operation-bol-d-air.fr/books-page-background.jpg?w=2500');
  background-position: center center;
  background-size: cover;
  color: white;
  position: relative;
}

.BooksPage .swiper-slide {
  width: 70%;
}