.Book .date {
  background: rgba(0, 0, 0, 0.5);
}

.Book .book-cover {
  align-items: flex-end;
  display: flex;
  height: 50vh;
  justify-content: center;
  margin: 15px 0;
}

.Book .book-cover-image {
  max-height: 100%;
  max-width: 100%;
}

.Book .button {
  display: block;
  font-size: 1rem;
  margin: 0.5rem auto;
  max-width: 250px;
  padding: 10px;
  text-decoration: none;
}

.Book .button.grey {
  background: #555;
}

.Book .button.green {
  background: #3a6;
}

.Book .button.blue {
  background: #369;
}

.Book .button.red {
  background: #a50000;
}
