.BooksPage {
  background: url('/books-page-background.jpg?w=2500');
  background-position: center center;
  background-size: cover;
  color: white;
  position: relative;
}

.BooksPage .swiper-slide {
  width: 70%;
}