.HomePage .page-title {
  color: black;
  font-family: 'Norican', cursive;
}

.HomePage .page-subtitle {
  margin-top: -8px;
}

.HomePage .catchline {
  background: #a50000;
  left: 50%;
  font-size: 1.2rem;
  padding: 7px 0 12px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  width: 270px;
}

@media (min-width: 768px) {
  .HomePage .page-title {
    font-size: 4rem;
  }

  .HomePage .page-subtitle {
    font-size: 1.75rem;
  }

  .HomePage .catchline {
    font-size: 2rem;
    width: 430px;
  }
}